
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Snow Map Generator</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Snow Map Generator</h1>
<p>Enter your starting and ending locations to generate a customized snow map.</p>
<form action="/map" method="POST">
<label for="start_location">Starting Location:</label>
<input type="text" name="start_location" id="start_location">
<br>
<label for="end_location">Ending Location:</label>
<input type="text" name="end_location" id="end_location">
<br>
<input type="submit" value="Generate Map">
</form>
</body>
</html>


